@model Amin.Data.Comment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit Comment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CommentId" />
            <div class="form-group">
                <label asp-for="PostId" class="control-label"></label>
                <select asp-for="PostId" class="form-control" asp-items="ViewBag.PostId"></select>
                <span asp-validation-for="PostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentContent" class="control-label"></label>
                <input asp-for="CommentContent" class="form-control" />
                <span asp-validation-for="CommentContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentAuthorId" class="control-label"></label>
                <select asp-for="CommentAuthorId" class="form-control" asp-items="ViewBag.CommentAuthorId"></select>
                <span asp-validation-for="CommentAuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentDate" class="control-label"></label>
                <input asp-for="CommentDate" class="form-control" />
                <span asp-validation-for="CommentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
