@page
@model Amin.Views.Login.IndexModel
@{
   
}
<head>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <div id="container" class="container">
        <!-- Đặt mã HTML ở đây -->
        <div class="row">
            <!-- Sign Up Form -->
            <div class="col align-items-center flex-col sign-up">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-up">
                        <div class="input-group">
                            <i class='bx bx-mail-send'></i>
                            <input type="text" placeholder="Full name">
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <input type="text" placeholder="Username">
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" placeholder="Password">
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" placeholder="Confirm password">
                        </div>
                        <button >Sign up</button>
                        <p><span>Already have an account?</span> <b onclick="toggle()" class="pointer">Sign in here</b></p>
                    </div>
                </div>
            </div>
            <!-- Sign In Form -->
            <div class="col align-items-center flex-col sign-in">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-in">
                        <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <input type="text" placeholder="Username" name="username">
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" placeholder="Password" name="password">
                        </div>
                        <button asp-controller="Home"asp-action="Index">Sign in</button>
                        @* @if (ViewData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger mt-2">@ViewData["ErrorMessage"]</div>
                        } *@
                        <p><b>Forgot password?</b></p>
                        <p><span>Don't have an account?</span> <b onclick="toggle()" class="pointer">Sign up here</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // JavaScript để điều khiển chuyển đổi
        let container = document.getElementById('container');
        function toggle() {
            container.classList.toggle('sign-in');
            container.classList.toggle('sign-up');
        }
        setTimeout(() => {
            container.classList.add('sign-in');
        }, 200);
    </script>
</body>
