<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Amin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Amin.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Diagram.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <!-- Sidebar -->
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="UsersManagement" asp-action="Index" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">UsersManagement</span>
                            </a>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                            <ol class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a asp-area="Admin" asp-controller="Notifications" asp-action="Index" class="nav-link px-0"> <span class="d-none d-sm-inline">-</span>Notifications</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="Posts_Management" asp-action="Index" class="nav-link px-0"> <span class="d-none d-sm-inline">-</span>Posts</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="Comments_Management" asp-action="Index" class="nav-link px-0"> <span class="d-none d-sm-inline">-</span>Comments</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="PatientInformations" asp-action="Index" class="nav-link px-0"> <span class="d-none d-sm-inline">-</span>Patient Information</a>
                                </li>
                            </ol>
                        </li>
                        
                        <li>
                            <a asp-area="Admin" asp-controller="UsersManagement" asp-action="AdminDashboard" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Visualize</span>
                            </a>
                        </li>
                        <!-- Add other menu items as needed -->
                    </ul>
                    <hr>
                    
                </div>
            </div>
            <!-- Content Area -->
            <div class="col py-3">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Content'))
            .catch(error => {
                console.error(error);
            });
    </script>
</body>

</html>
