@model Amin.Data.PatientInformation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Create</h1>

<h4>PatientInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SleepTime" class="control-label"></label>
                <input asp-for="SleepTime" type="time" class="form-control" />
                <span asp-validation-for="SleepTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WakeTime" class="control-label"></label>
                <input asp-for="WakeTime" type="time" class="form-control" />
                <span asp-validation-for="WakeTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhysicalActivityDuration" class="control-label"></label>
                <input asp-for="PhysicalActivityDuration" class="form-control" />
                <span asp-validation-for="PhysicalActivityDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaffeineIntake" class="control-label"></label>
                <input asp-for="CaffeineIntake" class="form-control" />
                <span asp-validation-for="CaffeineIntake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
